<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Select Pagination Component" />
    <meta name="author" content="ツキノリュウ" />
    <title>Select Pagination Component</title>
    <link href='https://css.gg/spinner-alt.css' rel='stylesheet'>
    <link href="css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <main class="content-wrap">
        <h1 class="section__title">Select Pagination Component</h1>
        <section class="pagination" v-cloak>
            <div class="demo">
                <div class="loading" v-if="isLoading">
                    <i class="gg-spinner-alt"></i>
                </div>
                <div class="demo__item" v-for="(item, index) in currentPageData" :key="index">
                    <img :src="item.picture.large" alt="photo">
                    <h6>{{item.name.first}} {{item.name.last}}</h6>
                </div>
            </div>
            <pagination :page-data="pageData" :per-page-case="pageCase" @get-page-data="getCurrentData"
                @call-loading="callLoading" v-if="pageData.flat().length > pageCase && currentPageData.length > 0" />
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const pagination = {
            template:
                `
                <div class="pagenavi">
                    <div class="pagenavi__control">
                        <button class="pagenavi__control__previous" @click="pagePrevious"  v-if="currentPage !== 1">
                            <svg class="pagenavi__control__previous__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.249 34.769">
                                <g transform="translate(-208.491 -303.076)">
                                    <line y1="5.996" x2="20.874" transform="translate(225.875 335.22) rotate(-135)" />
                                    <line x2="20.874" y2="5.996" transform="translate(211.115 320.461) rotate(-45)" />
                                </g>
                            </svg>
                        </button>
                        <select name="pagination" class="pagenavi__control__select" @change="jumpToPage(currentPage)" v-model="currentPage">
                            <option v-for="(item, index) in pageData" :key="index" :value="index + 1">page of {{index + 1}}</option>
                        </select>
                        <button class="pagenavi__control__next" @click="pageNext" v-if="currentPage !== pageData.length">
                            <svg class="pagenavi__control__previous__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.249 34.769">
                                <g transform="translate(232.74 337.845) rotate(180)">
                                    <line y1="5.996" x2="20.874" transform="translate(225.875 335.22) rotate(-135)" />
                                    <line x2="20.874" y2="5.996" transform="translate(211.115 320.461) rotate(-45)" />
                                </g>
                            </svg>                        
                        </button>
                    </div>
                    <div class="pagenavi__info">Now is {{caseStart}} - {{caseEnd}}, total {{totalCase}} item.</div>
                </div>
            `,
            props: {
                pageData: {
                    type: Array
                },
                perPageCase: {
                    type: Number
                }
            },
            data() {
                return {
                    currentPage: 1 // default page
                };
            },
            computed: {
                caseStart() {
                    return this.currentPage * this.perPageCase - this.perPageCase + 1;
                },
                caseEnd() {
                    let pageMaxCase = this.currentPage * this.perPageCase,
                        pageLastCase = this.pageData[this.currentPage - 1].length;

                    return pageLastCase !== pageMaxCase ? pageMaxCase - this.perPageCase + pageLastCase : pageMaxCase;
                },
                totalCase() {
                    return this.pageData.flat().length;
                },
            },
            methods: {
                scrollToTop() {
                    window.scroll({
                        top: 0,
                    });
                },
                jumpToPage(value) {
                    this.currentPage = value;
                    this.scrollToTop();
                    this.$emit('get-page-data', this.pageData[value - 1]);
                    this.$emit('call-loading', true);
                },
                pagePrevious() {
                    this.currentPage <= 1 ? this.currentPage = 1 : this.currentPage -= 1;
                    this.scrollToTop();
                    this.$emit('get-page-data', this.pageData[this.currentPage - 1]);
                    this.$emit('call-loading', true);
                },
                pageNext() {
                    this.currentPage >= this.pageData.length ? this.currentPage = this.pageData.length : this.currentPage += 1;
                    this.scrollToTop();
                    this.$emit('get-page-data', this.pageData[this.currentPage - 1]);
                    this.$emit('call-loading', true);
                }
            },
        };

        const vm = new Vue({
            el: '.pagination',
            components: {
                'pagination': pagination,
            },
            data() {
                return {
                    isLoading: false,
                    totalData: [],
                    pageCase: 20,
                    pageData: [],
                    currentPageData: []
                }
            },
            methods: {
                assignData() {
                    let dataSplitCount = 0;

                    while (dataSplitCount < this.totalData.length) {
                        this.pageData.push(
                            this.totalData.slice(dataSplitCount, (dataSplitCount += this.pageCase))
                        );
                    }
                },
                demoData() {
                    const url = 'https://randomuser.me/api/?results=50'; // for data demo, use random user generator API
                    const vm = this;

                    vm.isLoading = true;

                    axios.get(url).then(response => {
                        vm.totalData = response.data.results;
                        // assign data
                        vm.assignData();
                        // set page 1 data
                        vm.currentPageData = vm.pageData[0];
                        vm.$nextTick(() => {
                            vm.isLoading = false;
                        });
                    }).catch(error => {
                        console.log(error);
                        alert('Somthing go wrong, please retry later.');
                    });
                },
                getCurrentData($event) { // receive page data
                    this.currentPageData = $event;
                },
                callLoading($event) { // set loading screen
                    const vm = this;

                    vm.isLoading = $event;
                    vm.$nextTick(() => {
                        setTimeout(() => {
                            vm.isLoading = false
                        }, 1000);
                    });
                }
            },
            created() {
                this.demoData();
            },
        });
    </script>
</body>

</html>
